@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import 'tailwindcss';

@theme {
	--font-pixels: "Coral Pixels", sans-serif; 
	--font-cascadia: "Cascadia Code", sans-serif;
	--font-tiny5: "Tiny5", sans-serif;
	--font-interference: "KH Interference", sans-serif;
	--font-interference-light: "KH Interference Light", sans-serif;
	--font-interference-bold: "KH Interference Bold", sans-serif;
}

@font-face {
	font-family: "KH Interference";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/KH Interference/WOFF2/KHInterferenceTRIAL-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "KH Interference Light";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/KH Interference/WOFF2/KHInterferenceTRIAL-Light.woff2") format("woff2");
}

@font-face {
	font-family: "KH Interference Bold";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/KH Interference/WOFF2/KHInterferenceTRIAL-Bold.woff2") format("woff2");
}