@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import 'tailwindcss';

@theme {
	--font-tiny5: "Tiny5", sans-serif;
	--font-interference: "KH Interference", sans-serif;
	--font-terminal: "Terminal Grotesque", sans-serif;
}

@font-face {
	font-family: "KH Interference";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/KHInterferenceTRIAL-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Terminal Grotesque";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/terminal-grotesque-webfont.woff2") format("woff2");
}